{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ entity.organizationName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Organization'|trans }} : {{ entity.organizationName }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Organization'|trans }} {{ entity.organizationName }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.syndicate, 'label.busness.group', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.syndicate) }}
                                                    {{ form_errors(form.syndicate) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.mainApp, 'label.mainApp', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.mainApp, {'attr': {'class': 'form-control select2'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.organizationName, 'label.organizationName', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.organizationName) }}
                                                    {{ form_errors(form.organizationName) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.location, 'label.location', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.location, {'attr': {'class': 'form-control select2'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.displayMobile, 'label.dispaly.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.displayMobile) }}
                                                    {{ form_errors(form.displayMobile) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.subDomain, 'label.subDomain', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.subDomain) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.domain, 'label.domain', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.domain) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.phone, 'label.phone', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.phone) }}
                                                    {{ form_errors(form.phone) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.email, 'label.email', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.binNo, 'label.binNo', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.binNo, {'attr': {'class': 'form-control input-lg'}}) }}
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                {{ form_label(form.appModules, 'label.appModules', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.appModules, {'attr': {'class': ''}}) }}
                                                    {{ form_widget(form.appModules, {'attr': {'class': ''}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-md-6 ">

                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                    <a  data-action="{{ path('core_domain_reset') }}" class="btn approve btn-sm danger-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</a>
                                                    <a data-action="" type="reset"  class="btn btn-sm green-bg white-font"><i class="fa fa-database"></i>{{ 'Backup'|trans }}</a>
                                                    <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'Restore'|trans }}</button>

                                                </div>
                                            </div>
                                                <div class="col-md-6 text-right">
                                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                        {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                    </div>
                                </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}