
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> Create New User</div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12" id="process-msg">
                <div class="alert alert-success"></div>
            </div>
        </div>
        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
        <div class="form-body">
            <div class="form-inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.name, 'label.name', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mobile, 'label.mobile', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.mobile) }}
                                {{ form_errors(form.mobile) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'label.email', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg'}}) }}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.username, 'label.username', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.first, 'label.password', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control input-lg'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.password.second, {'attr': {'class': 'form-control input-lg'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="{{ form.roles.vars.id }}" class="control-label col-md-2">
                                Web Access Roles:
                            </label>
                            <div class="col-md-10">
                                <div class="input-icon right">
                                    <div class="controls">
                                        {{ form_errors(form.roles) }}
                                        {{ form_widget(form.roles, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="{{ form.appRoles.vars.id }}" class="control-label col-md-2">
                                Apps Access Roles:
                            </label>
                            <div class="col-md-10">
                                <div class="input-icon right">
                                    <div class="controls">
                                        {{ form_errors(form.appRoles) }}
                                        {{ form_widget(form.appRoles, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
