{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Operational Access Role'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('domain_bundlerole_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('domain_bundlerole') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Bundle Role'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role Name</th>
                            <th scope="col">Role Group</th>
                            <th scope="col">Process Name</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            {% if entity.delete != 1 %}
                                <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.roleName }}</td>
                            <td>{{ entity.roleGroup }}</td>
                            <td>{{ entity.process }}</td>
                            <td>
                                <input class="status" data-action="{{ path('domain_bundlerole_status',{'id':entity.id}) }}" type="checkbox" checked="" data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                            </td>
                            <td>
                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('domain_bundlerole_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('domain_bundlerole_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}
