<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Bank Asia{% endblock %}</title>
    {% block stylesheets %}
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body id="{% block body_id %}{% endblock %}">
{% block header %}
    {% if app.user.terminal is not empty and app.user.terminal.coreDomain is not empty and  app.user.terminal.coreDomain.navbar == "sidebar" %}
        {{ include('base/sidebar.html.twig') }}
    {% else %}
        {{ include('base/nav.html.twig') }}
    {% endif %}
{% endblock %}
<div class=" {% if app.user.terminal is not empty  and app.user.terminal.coreDomain is not empty and  app.user.terminal.coreDomain.navbar == "sidebar" %} pcoded-main-container {% endif %} main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<div class="modal fade" id="bootstrapModal" aria-labelledby="bootstrapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleLabel">Information Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="entity-data"></div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
{% block footer %}
    <footer class="footer text-center">
        <div style="height: 44px;">
            ICS System Solutions. <a href="http://www.ics-ss.com">www.ics.com</a>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script>$.uiBackCompat = false;</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% block documentready %}
        var win = window,
            doc = document,
            docElem = doc.documentElement,
            body = doc.getElementsByTagName('body')[0],
            hei = win.innerHeight|| docElem.clientHeight|| body.clientHeight;
        divHeight = (hei -250)+'px';
        $('#body-height').css('min-height', divHeight);
        {% endblock %}
    });
</script>
<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div id="modal-container"><div class="loader04"></div></div>
</div>
<div id="confirm-content" style="display:none">
    <div class="confirmModal_content">
        Are you sure to confirm this record?
    </div>
    <div class="confirmModal_footer">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-sm btn-danger" data-confirmmodal-but="cancel"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-sm  blue-bg white-font" data-confirmmodal-but="ok"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </div>
</div>
<div id="approve-content" style="display:none">
    <div class="confirmModal_content">
        Are you sure want to submit this form?
    </div>
    <div class="confirmModal_footer">
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-sm btn-danger" data-confirmmodal-but="cancel"><i class="fa fa-close"></i> Cancel</button>
            <button type="button" class="btn btn-sm  blue-bg white-font" data-confirmmodal-but="ok"><i class="fa fa-check"></i> Confirm</button>
        </div>
    </div>
</div>
<div id="dialog_content" class="dialog_content" style="display:none">
    <div class="dialogModal_header"></div>
    <div class="dialogModal_content"></div>
</div>
<style>
    .main-container{
        padding-top: 56px;
    }

    .help-block ul.list-unstyled li{
        color:red;
    }
    .dropdown-info{
        margin-top: 1px!important;
    }
    .remodal-close {
        top: -10px;
        right: 0px;
    }
    .tooltip{
        z-index:100000000!important;
    }
    .input-group-append .btn, .input-group-prepend .btn {
        position: relative;
        z-index: 0;
    }

</style>
</body>
</html>
