{% extends 'layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage New User'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

                            <a href="{{ path('core_user_register') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New User'|trans }}</a>
                            <a href="{{ path('core_user_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'User'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage New Employee'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-3"><h4>Account Information</h4></div>
                                    <div class="col-md-9 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.user.name, 'Full Name', {'label_attr': {'class': 'col-md-3'}}) }}
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.user.name) }}
                                                        {{ form_errors(form.user.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.employeeId, 'Employee ID'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.employeeId) }}
                                                        {{ form_errors(form.employeeId) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.user.userGroup, 'User Group'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.user.userGroup) }}
                                                        {{ form_errors(form.user.userGroup) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.mobile, 'label.mobile', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">

                                                        {{ form_widget(form.mobile) }}
                                                        {{ form_errors(form.mobile) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.address, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.file, 'Signature', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="not-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-horizontal">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-3"><h4>Operational Information</h4></div>
                                    <div class="col-md-9 form-box-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.designation, 'Designation', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.designation) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.department, 'Operational Designation', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.operationalDesignation, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.user.userGroupRole, 'Operational Role', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.user.userGroupRole) }}
                                                        {{ form_errors(form.user.userGroupRole) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.serviceMode, 'Working Area', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.serviceMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.branch, 'Branch', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.branch) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.department, 'Department', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-blank"> {{ 'Optional'|trans }}</span>
                                                        {{ form_widget(form.department) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-horizontal">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-3 form-box-header" ><h4>Login Information</h4><span>Password must be  at lse 6 characters</span></div>
                                    <div class="col-md-9 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.user.username, 'User name as Email', {'label_attr': {'class': 'col-md-3'}}) }}
                                                    <div class="col-md-9">
                                                        {{ form_widget(form.user.username) }}
                                                        {{ form_errors(form.user.username) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.user.password.first, 'label.password', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.user.password.first, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.user.password.second, 'label.new_password_confirm', {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        {{ form_widget(form.user.password.second, {'attr': {'class': ''}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ form.user.roles.vars.id }}" class="control-label col-md-2"> User Roles</label>
                                                    <div class="col-md-10">
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.user.roles) }}
                                                                {{ form_widget(form.user.roles, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-md-6 ">

                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    formSubmitProcess();
{% endblock %}



