
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> {{ 'User Information'|trans }} : {{ entity.name }}</div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                      <table class="table-border-less">
                          <tr><th class="text-left" scope="col" >Account Information</th><th class="text-right" scope="col" >Name</th><td class="text-left" >{{ entity.name }}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Designation</th><td class="text-left" >{% if entity.profile.designation is not empty %}{{ entity.profile.designation.name }}{% endif %}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Operational Designation</th><td class="text-left" >{% if entity.profile.operationalDesignation is not empty %}{{ entity.profile.operationalDesignation.name }}{% endif %}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Department</th><td class="text-left" >{% if entity.profile.department is not empty %}{{ entity.profile.department.name }}{% endif %}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Mobile</th><td class="text-left" >{{ entity.profile.mobile }}</td></tr>
                          <tr><th class="text-left" scope="col" >User Information</th><th class="text-right" scope="col" >User Name</th><td class="text-left" >{{ entity.username }}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Email</th><td class="text-left" >{{ entity.email }}</td></tr>
                          <tr><th class="text-right" colspan="2" scope="col" >Status</th><td class="text-left" >{% if entity.enabled == 1 %}Active{% else %}In-active{% endif %}</td></tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
